* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#canvas {
  display: block;
}

button {
  cursor: pointer;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.others {
  display: flex;
  position: absolute;
  top: 16px;
  left: 18px;
}

.others button {
  margin-right: 16px;
  background-color: transparent;
  border: none;
}

.others button svg {
  width: 30px;
  height: 30px;
  color: #666;
}

.pen-color {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 72px;
  left: 16px;
  overflow: visible;
}

.pen-color button {
  position: absolute;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: transform 100ms;
}

.pen-color button.selected{
  transform: scale(1.2, 1.2);
}

.red-pen {
  background-color: #ed1c24;
  top: 0;
}

.blue-pen {
  background-color: #00a2e8;
  top: 48px;
}

.green-pen {
  background-color: #22b14c;
  top: 96px;
}

.black-pen {
  background-color: black;
  top: 144px;
}

.pen-size {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  right: 16px;
}

.pen-size button {
  background-color: black;
  border: none;
  width: 30px;
  margin-bottom: 24px;
}

.big-pen {
  height: 20px;
}

.normal-pen {
  height: 10px;
}

.small-pen {
  height: 5px;
}